@import "@Theme/variables";

.final-delete-account-button {
  box-sizing: border-box;
  font-family: $font-main;
  font-weight: $font-weight-xl;
  font-size: $font-size-ll;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  height: 75px;
  border-radius: 12px;
  background-color: rgb(150, 2, 2);
  padding: 33px 23px;
  color: $color-white;
  filter: $default-drop-shadow;
  transition: $transition-default;

  &:disabled {
    background-color: $secondary-gray-90;
    transition: $transition-default;
    cursor: not-allowed;
  }

  &:hover {
    opacity: 0.8;
    transition: all 0.3s;
  }
}
