@import "@Theme/variables";

.migrate-account-button {
  box-sizing: border-box;
  font-family: $font-main;
  font-weight: $font-weight-xl;
  font-size: $font-size-ll;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  height: 75px;
  border-radius: 12px;
  background-color: $primary-color-80;
  padding: 33px 23px;
  color: $color-white;

  &:disabled {
    background-color: $secondary-gray-90;
  }
}
