@import "@Theme/variables";
@import "@Theme/media";

.final-buttons {
  display: none;
}

.settings {
  &__header {
    height: 30px;
    margin-top: 20px;
  }

  &__wrapper_image {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  &__wrapper_content {
    text-align: center;
    display: flex;
    justify-content: center;

    ion-card.md {
      overflow: inherit;
      box-shadow: none;
    }

    &__header {
      font-family: $font-main;
      font-weight: $font-weight-xl;
      font-size: $font-size-xl;

      h2 {
        color: black;
      }
    }

    &__buttons {
      .migrate-account-button {
        font-size: 20px;
        margin: 16px 16px 16px 16px;
      }

      .delete-account-button {
        font-size: 20px;
        margin: 16px 16px 16px 16px;
      }
      
      .privacy-policy-button {
        font-size: 20px;
        margin: 16px 16px 16px 16px;
        text-align: left;
      }
    }
  }
}

@include mobile-xsmall {
  .settings {
    h2 {
      font-size: $header-description-mxs
    }

    .pet-octopus {
      max-height: 160px;
    }
  }

  .delete-account-button {
    width: 250px !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .migrate-account-button {
    width: 250px !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .privacy-policy-button {
    width: 250px !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}