@import "@Theme/variables";

.page-403 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50%;
  font-family: $font-main;
  font-weight: $font-weight-xl;
  color: $secondary-gray-90;

  h4 {
    text-align: center;
  }
}
