@import "@Theme/variables";
@import "@Theme/media";

.previous-day {
  &__context {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $font-main;
    height: 100%;

    .swiper {
      max-height: 250px;

      &-slide {
        &-active {
          display: flex;
          justify-content: center;
          align-items: center;
        }

        &__wrapper {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }

        &__header {
          text-align: center;
          font-size: $font-size-xxl;
          font-weight: $font-weight-xl;
        }

        &__paragraph {
          text-align: center;
          font-size: $font-size-m;
          font-weight: $font-weight-m;
          color: $secondary-gray-90;
          max-width: 300px;
          margin-bottom: 20px;
        }
      }
    }

    ion-img {
      width: 160px;
      height: 210px;
      margin-bottom: 38px;
    }

    .proceed-button {
      max-width: 250px;
      margin-top: 20px;
    }
  }

  &__swiper {
    width: 100%;
    height: auto;
  }
}

@include mobile-s {
  .previous-day {
    &__wrapper {
      height: 95%;
    }

    &__context {
      ion-img {
        margin-bottom: 24px;
        height: 150px;
        width: 150px;
      }

      .swiper {
        &-slide {
          &__wrapper {
            margin: 0;
            gap: 0;
          }
        }
      }
    }
  }
}

@include mobile-s-long {
  .previous-day {
    &__context {
      ion-img {
        height: 150px;
        width: 130px;
      }
    }
  }
}
