@import "@Theme/variables";
@import "@Theme/mixins";

.message-activity {
  height: 89px;

  &__wrapper {
    height: 89px;
    background-color: $primary-color-90;
    border-radius: $border-radius-m;
    padding: 16px 24px;
    color: $color-white;
    font-family: $font-roboto;

    @include animation-properties;
  }

  &__title {
    text-transform: uppercase;
    margin-bottom: 5px;
    font-weight: $font-weight-xl;
    overflow: hidden;
    @include animation-properties;
  }

  &__description {
    font-weight: $font-weight-m;
    white-space: nowrap;
    overflow: hidden;
    @include animation-properties;
  }
}

@include message-animation;
