@import "@Theme/variables";
@import "@Theme/media";

.sufficient {
  &__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

    .buttons-sufficient {
      &__end {
        font-size: $font-size-xl;
        font-weight: $font-weight-xl;
        color: $color-black;
        text-decoration: none;
        background: none;
      }

      &__add {
        padding: 23px 30px;
        color: $color-white;
        background-color: $primary-color-80;
        font-weight: $font-weight-xl;
        font-size: $font-size-xl;
        filter: $default-drop-shadow;
        border-radius: $border-radius-m;
        transition: $transition-default;

        &:disabled {
          background-color: $secondary-gray-90;
          cursor: not-allowed;
          transition: $transition-default;
        }
      }
    }
  }

  &__context {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $font-main;

    ion-img {
      width: 160px;
      height: 210px;
      margin-bottom: 38px;
    }

    .swiper {
      max-height: 250px;

      &-slide {
        &-active {
          display: flex;
          justify-content: center;
          align-items: center;
        }

        &__wrapper {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }

        &__header {
          text-align: center;
          font-size: $font-size-xxl;
          font-weight: $font-weight-xl;
          margin-top: 20px;
        }

        &__paragraph {
          text-align: center;
          font-size: $font-size-m;
          font-weight: $font-weight-m;
          color: $secondary-gray-90;
          max-width: 320px;
          width: 100%;
          margin: 0;
        }

        &__input {
          width: 100%;
          border-radius: $border-radius-s;
          border: 1px solid $secondary-gray-90;
          height: 50px;
          padding: 23px;
          outline: none;
          box-shadow: $default-drop-shadow;
          font-size: $font-size-s;
          margin-top: 15px;
        }
      }
    }

    .proceed-button {
      margin-top: 20px;
      max-width: 230px;
    }
  }

  &__swiper {
    width: 100%;
    height: auto;
  }
}

@include mobile-s {
  .sufficient {
    &__context {
      ion-img {
        margin-bottom: 24px;
        height: 150px;
        width: 150px;
      }

      .swiper {
        &-slide {
          &__wrapper {
            margin: 0;
            gap: 0;
          }

          &__header {
            margin-top: 25px;
          }

          &__paragraph {
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}

@include mobile-s-long {
  .sufficient {
    &__context {
      ion-img {
        height: 150px;
        width: 130px;
      }
    }
  }
}
