@import "@Theme/variables";
@import "@Theme/media";


.creativity {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;

    .proceed-button {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: auto;
      margin-bottom: 2em;
    }
  }

  .swiper {
    width: 100%;
    margin-top: 43px;
    &__proceed-buttons {
      &-enter {
        opacity: 0;
        transform: scale(0.9);

        &-active {
          opacity: 1;
          transform: translateX(0);
          transition: opacity 300ms, transform 300ms;
        }
      }

      &-exit {
        opacity: 1;

        &-active {
          opacity: 0;
          transform: scale(0.9);
          transition: opacity 300ms, transform 300ms;
        }
      }
    }

    &-slide {
      &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

      }

      &__header {
        font-family: $font-main;
        font-weight: $font-weight-xl;
        font-size: $font-size-xxl;
        color: $color-black;
        text-align: center;
        height: 30px;
        margin-top: 20px;
      }

      &__description {
        font-family: $font-main;
        font-weight: $font-weight-m;
        font-size: $font-size-m;
        line-height: 24px;
        color: $secondary-gray-90;
        text-align: left;
        padding-top: 2em;
      }

      &__source {
        margin: 10px 0 0 0;
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 24px;
        color: $secondary-gray-90;
        text-align: center;
      }

      .video-container {
        margin-top: 24px;
        position: relative;
        width: 100%;
        height: 0;
        padding-top: 56.25%; // 9 / 16 * 100%

        &__embed {
          border-radius: 20px;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }

      &.swiper {
        &-slide {
          &-active {
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }

  &__buttons {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

}