@import "@Theme/variables";
@import "@Theme/media";

.gratitude {
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $font-main;

    h4 {
      font-size: $font-size-xxl;
      font-weight: $font-weight-xl;
      margin-bottom: 15px;
    }

    p {
      font-weight: $font-weight-m;
      font-size: $font-size-m;
      line-height: 24px;
      color: $secondary-gray-90;
      text-align: center;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  }

  &__continue-buttons {
    width: 100%;
    gap: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__final-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 15px;
  }

  &__header {
    height: 30px;
    margin-top: 20px;
  }

  &__swiper {
    width: 100%;
    margin-top: 43px;

    .swiper {
      &-slide {
        &__wrapper {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }

        &__header {
          font-family: $font-main;
          font-weight: $font-weight-xl;
          font-size: $font-size-xxl;
          color: $color-black;
          text-align: center;
        }

        &__paragraph {
          font-family: $font-main;
          font-weight: $font-weight-m;
          font-size: $font-size-m;
          line-height: 24px;
          color: $secondary-gray-90;
          text-align: center;
          padding-left: 1.5rem;
          padding-right: 1.5rem;
        }

        &.swiper {
          &-slide {
            &-active {
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
        }
      }
    }
  }
}
@include mobile-xsmall {
  .gratitude {
    &__final-buttons {
      margin-top: 35px;
    }

    &__wrapper {
      height: 100%;

      .proceed-button {
        width: 90%;
        font-size: 20px;
        height: 60px;
        transition: all 0.3s;
      }
    }

    &__swiper {
      margin-top: 20px;

      .swiper {
        &-slide {
          &__header {
            font-size: 32px;
          }

          &__paragraph {
            font-size: $font-size-m;
          }
        }
      }
    }
  }
}

@include mobile-small {
  .gratitude {
    &__final-buttons {
      margin-top: 85px;
    }
    &__wrapper {
      height: 100%;

      .proceed-button {
        font-size: 22px;
        height: 65px;
        transition: all 0.3s;
        width: 90%;
      }
    }

    &__final-buttons, &__continue-buttons {
      width: 100%;
      display: flex;
      justify-content: center;
      gap: 15px;
    }

    &__swiper {
      .swiper {
        &-slide {
          &__header {
            font-size: 34px;
          }

          &__paragraph {
            font-size: 18px;
          }
        }
      }
    }
  }
}

@include mobile-medium {
  .gratitude {
    &__final-buttons {
      margin-top: 115px;
    }
    &__wrapper {
      height: 100%;

      .proceed-button {
        font-size: 24px;
        //width: 90%;
        height: 75px;
        transition: all 0.3s;
      }
    }

    &__swiper {
      .swiper {
        &-slide {
          &__header {
            font-size: 38px;
          }

          &__paragraph {
            font-size: 20px;
          }
        }
      }
    }
  }
}
