.ion-title {
    color: black;
    font-weight: 600;
}

.card-styles {
    /*box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px, rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;*/
    box-shadow: none;
    border: 2px solid black;
    border-radius: 12px;
}

.card-title {
    color: black;
    font-weight: 600;
}

.card-description {
    color: black;
    font-size: 14px;
}