@import "@Theme/variables";
@import "@Theme/media";
@import "@Theme/mixins";

.final-buttons {
  display: none; // DO WYŁĄCZENIA TE DWA PRZYCISKI
}

.migrateaccountpage {
  &__header {
    height: 30px;
    margin-top: 20px;
  }

  &__wrapper {
    .proceed-button {
      width: 100%;
      margin-top: auto;
      margin-bottom: 50px;
    }
  }

  &__wrapper_image {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  &__wrapper_content {
    text-align: center;
    display: flex;
    justify-content: center;

    ion-card.md {
      overflow: inherit;
      box-shadow: none;
    }

    &__header {
      font-family: $font-main;
      font-weight: $font-weight-xl;
      font-size: $font-size-xl;

      h2 {
        color: black;
      }
    }

    &__header-description {
      display: flex;
      flex-flow: column;

      span {
        color: black;
        font-size: $font-size-l;
        font-weight: 500;
      }

      .migrate-code,
      .device-id {
        color: #960202;
        font-size: $font-size-ll;
        font-weight: 700;
        margin-top: 12px;
        margin-bottom: 6px;
      }
    }

    &__buttons {
      display: none; // DISPLAY: FLEX; zmieniony na NONE, żeby w razie potrzeby ukryć przyciski.
      justify-content: center;
      align-items: center;
      flex-flow: column;

      .migrate-account-button {
        margin: 16px 16px 16px 16px;
      }

      .delete-account-button {
        margin: 16px 16px 16px 16px;
      }
    }
  }
}

@include mobile-xsmall {
  .migrateaccountpage {
    &__wrapper {
      .proceed-button {
        font-size: 20px;
        height: 60px;
        transition: all 0.3s;
        margin-bottom: 0;
        margin-top: 10px;
      }
    }
  }

  .delete-account-button {
    width: 250px !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .migrate-account-button {
    width: 250px !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

@include mobile-small {
  .migrateaccountpage {
    &__wrapper {
      .proceed-button {
        margin-top: 60px;
        font-size: 22px;
        height: 65px;
        transition: all 0.3s;
      }
    }
  }
}
