@import "@Theme/variables";
@import "@Theme/media";

.edu-vid {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  .title {
    width: 100%;
  }

  .source {
    margin: 10px 0 0 0;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 24px;
    color: #96969D;
    text-align: center;
  }
  .activity-description {
    margin-top: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #96969D;
  }

  .ion-text-center {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .save-button {
      font-size: 20px;
      height: 60px;
      transition: all 0.3s;
      margin-bottom: 24px;
      margin-top: auto;
      width: 100%;
      border-radius: 20px;

      /* shadow1 */

      filter: drop-shadow(0px 100px 80px rgba(94, 80, 31, 0.07)) drop-shadow(0px 41.7776px 33.4221px rgba(94, 80, 31, 0.0503198)) drop-shadow(0px 22.3363px 17.869px rgba(94, 80, 31, 0.0417275)) drop-shadow(0px 12.5216px 10.0172px rgba(94, 80, 31, 0.035)) drop-shadow(0px 6.6501px 5.32008px rgba(94, 80, 31, 0.0282725)) drop-shadow(0px 2.76726px 2.21381px rgba(94, 80, 31, 0.0196802));
    }
  }

  .video-container {
    margin-top: 24px;
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 56.25% // 9 / 16 * 100%
  }

  .embed {
    border-radius: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}


