//colors
$color-black: #000000;
$color-white: #ffffff;
$color-blue: #74BBFC;
$color-yellow: #FCC574;
$color-red: #FC748C;
$color-green: #16D67A;

$primary-color-90: #758CFF;
$primary-color-80: #8196fd;
$primary-color-75: #90a2ff;

$secondary-gray-90: #96969d;
$secondary-gray-35: #e5e5e5;
$secondary-gray-30: #e9e9eb;

//font
$font-main: "Inter", sans-serif;
$font-roboto: "Roboto", sans-serif;
$font-poppins: "Poppins", sans-serif;

$font-weight-xxs: 100;
$font-weight-xs: 200;
$font-weight-s: 300;
$font-weight-m: 400;
$font-weight-l: 500;
$font-weight-xl: 600;
$font-weight-xxl: 800;

$font-size-xxs: 9px;
$font-size-xs: 11px;
$font-size-s: 13px;
$font-size-m: 16px;
$font-size-l: 18px;
$font-size-ll: 20px;
$font-size-xl: 24px;
$font-size-xxl: 32px;
$font-size-xxxl: 64px;

$font-size-10: 128px;

//transition
$transition-default: all .3s ease-in-out;


//shadow
$default-drop-shadow: 4px 30px 68px -5px rgba(66, 68, 90, 0.38);

//radius
$border-radius-m: 23px;
$border-radius-s: 16px;
$border-radius-xs: 12px;