.calendar-page {
  height: 100%;
}

.calendar-page .calendar-page__calendar-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  gap: 30px;
}

.calendar-page .calendar-page__calendar-wrapper h3 {
  margin-top: 64px;
}

.calendar-page__no-content {
  font-family: var(--font-main);
  font-size: var(--font-size-large);
  color: var(--secondary-gray-90);
  margin-top: 50px;
  font-weight: var(--font-weight-large);
}

ion-datetime.month-year-picker-open ~ .calendar-page__no-content {
  display: none;
}
