.calendar {
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin-top: 24px;
    gap: 24px;
  }

  &__no-content {
    font-family: var(--font-main);
    font-size: var(--font-size-large);
    color: var(--secondary-gray-90);
    margin-top: 50px;
    font-weight: var(--font-weight-large);
  }
}
